.accordion input {
	display: none;
}

.accordion input:checked + .ac-cont {
	height: auto;
	padding: 10px 0;
}

.accordion label {
	display: block;
	cursor: pointer;
}
.ac-cont {
	transition: 0.2s;
	height: 0;
	overflow: hidden;
}

.accordion i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 4px;
  right: 3px;
}

.accordion i:before, .accordion i:after {
  content: "";
  position: absolute;
  background-color: #444;
  width: 2px;
  height: 8px;
}

.accordion i:before {
  transform: translate(-2px, 0) rotate(-45deg);
}

.accordion i:after {
  transform: translate(2px, 0) rotate(45deg);
}
